<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daniel.university_of_lincoln_companion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/uol_logo"
        android:label="@string/app_title"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- SPLASH ACTIVITY -->
        <activity
            android:name=".Splash"
            android:label="@string/app_title"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LOGIN ACTIVITY -->
        <activity
            android:name=".Login"
            android:label="@string/Login"
            android:parentActivityName=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.Login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.daniel.university_of_lincoln_companion.Splash" />
        </activity>

        <!-- DASHBOARD ACTIVITY -->
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.Login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- WEBVIEW ACTIVITY -->
        <activity
            android:name=".WebView"
            android:label="@string/title_activity_web_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WebViewing"
            android:label="@string/title_activity_web_viewing"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.Login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- SOCIAL POSTS ACTIVITY -->
        <activity
            android:name=".SocialPosts"
            android:label="@string/title_activity_social_posts"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.Login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.daniel.university_of_lincoln_companion.Dashboard" />
        </activity>

        <!-- SOCIAL COMMENTS ACTIVITY -->
        <activity
            android:name=".SocialPostComments"
            android:label="@string/title_activity_social_post_comments"
            android:parentActivityName=".SocialPosts"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.Login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.daniel.university_of_lincoln_companion.SocialPosts" />
        </activity>
        <activity
            android:name=".CreatePost"
            android:label="@string/title_activity_create_post"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchStaff"
            android:label="@string/title_activity_search_staff"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SendEmail"
            android:label="@string/title_activity_send_email"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ImportantDates"
            android:label="@string/title_activity_important_dates"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ImportantNumbers"
            android:label="@string/title_activity_important_numbers"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
